@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8ad2c;

}

h1{
    font-size: 15rem;
    font-family: 'Montserrat', sans-serif;
}

.letter{
    transition: color 1000ms;
}